Prototypy/EUklicenka_Kotlin/*.iml
Prototypy/EUklicenka_Kotlin/.gradle
Prototypy/EUklicenka_Kotlin/local.properties
Prototypy/EUklicenka_Kotlin/.idea/caches
Prototypy/EUklicenka_Kotlin/.idea/libraries
Prototypy/EUklicenka_Kotlin/.idea/modules.xml
Prototypy/EUklicenka_Kotlin/.idea/workspace.xml
Prototypy/EUklicenka_Kotlin/.idea/navEditor.xml
Prototypy/EUklicenka_Kotlin/.idea/assetWizardSettings.xml
Prototypy/EUklicenka_Kotlin/.DS_Store
Prototypy/EUklicenka_Kotlin/build
Prototypy/EUklicenka_Kotlin/captures
Prototypy/EUklicenka_Kotlin/.externalNativeBuild
Prototypy/EUklicenka_Kotlin/.cxx
Prototypy/EUklicenka_Kotlin/local.properties
.DS_Store
